main{
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

main .card img{
    width: 30pc;
    border-radius: 30px;
    transition: .3s ease-in-out;
}

main .card{
    border-radius: 30px;
    margin-top: 1pc;
    margin-bottom: 1pc;
    height: 44.4pc;
    border: 2px solid blue;
}

main .card img:hover{
    transform: scale(1.1);
}