footer {
    background-color: var(--first-backGround-color);
    display: flex;
    justify-content: space-around;
}

footer .logo img {
    width: 20pc;
    cursor: pointer;
    transition: .2s ease-in-out;
    margin-left: 3pc;
    margin-left: -10pc;
    border-radius: 50%;
}

footer .contact {
    border: 1px solid #fff;
    width: 60pc;
    height: 37pc;
    margin-top: 1pc;
    margin-bottom: 1pc;
}

footer ul li{
    transition: .2s ease-in-out;
    list-style: none;
    height: 1.6pc;
    font-size: 20px;
    border-bottom: 1px solid #fff;
    margin-bottom: 2pc;
}

footer .logo,
footer ul {
    margin-top: 14pc;
}

footer .logo img:hover{
    transform: scale(1.1);
}

footer ul li:hover{
    transform:scale(1.1);
}